--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO myuser;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO myuser;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO myuser;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO myuser;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO myuser;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO myuser;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: dashboard_chatmessage; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.dashboard_chatmessage (
    id bigint NOT NULL,
    message text NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    receiver_id integer NOT NULL,
    sender_id integer NOT NULL,
    is_read boolean NOT NULL
);


ALTER TABLE public.dashboard_chatmessage OWNER TO myuser;

--
-- Name: dashboard_chatmessage_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.dashboard_chatmessage ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.dashboard_chatmessage_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: dashboard_payment; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.dashboard_payment (
    id bigint NOT NULL,
    amount numeric(10,2) NOT NULL,
    date date NOT NULL,
    status character varying(20) NOT NULL,
    reference_number character varying(100) NOT NULL,
    tenant_id bigint NOT NULL,
    user_id integer
);


ALTER TABLE public.dashboard_payment OWNER TO myuser;

--
-- Name: dashboard_payment_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.dashboard_payment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.dashboard_payment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: dashboard_room; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.dashboard_room (
    id bigint NOT NULL,
    room_number integer NOT NULL,
    room_type character varying(10) NOT NULL,
    capacity integer NOT NULL,
    description text,
    availability character varying(17) DEFAULT 'Vacant'::character varying NOT NULL
);


ALTER TABLE public.dashboard_room OWNER TO myuser;

--
-- Name: dashboard_room_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.dashboard_room ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.dashboard_room_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: dashboard_tenant; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.dashboard_tenant (
    id bigint NOT NULL,
    room_number_id bigint NOT NULL,
    amount numeric(10,2) NOT NULL,
    lease_start date NOT NULL,
    end_date date,
    emergency_contact character varying(15) NOT NULL,
    full_name character varying(255) NOT NULL,
    user_id integer
);


ALTER TABLE public.dashboard_tenant OWNER TO myuser;

--
-- Name: dashboard_tenant_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.dashboard_tenant ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.dashboard_tenant_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: dashboard_uploadedimage; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.dashboard_uploadedimage (
    id bigint NOT NULL,
    image character varying(100),
    uploaded_at timestamp with time zone NOT NULL
);


ALTER TABLE public.dashboard_uploadedimage OWNER TO myuser;

--
-- Name: dashboard_uploadedimage_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.dashboard_uploadedimage ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.dashboard_uploadedimage_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO myuser;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO myuser;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO myuser;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO myuser;

--
-- Name: loginauth_userprofile; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.loginauth_userprofile (
    id bigint NOT NULL,
    terms_accepted boolean NOT NULL,
    date_accepted timestamp with time zone,
    user_id integer NOT NULL
);


ALTER TABLE public.loginauth_userprofile OWNER TO myuser;

--
-- Name: loginauth_userprofile_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.loginauth_userprofile ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.loginauth_userprofile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: otp_email_emaildevice; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.otp_email_emaildevice (
    id integer NOT NULL,
    name character varying(64) NOT NULL,
    confirmed boolean NOT NULL,
    user_id integer NOT NULL,
    token character varying(16),
    valid_until timestamp with time zone NOT NULL,
    email character varying(254),
    throttling_failure_count integer NOT NULL,
    throttling_failure_timestamp timestamp with time zone,
    last_generated_timestamp timestamp with time zone,
    created_at timestamp with time zone,
    last_used_at timestamp with time zone,
    CONSTRAINT otp_email_emaildevice_throttling_failure_count_check CHECK ((throttling_failure_count >= 0))
);


ALTER TABLE public.otp_email_emaildevice OWNER TO myuser;

--
-- Name: otp_email_emaildevice_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.otp_email_emaildevice ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.otp_email_emaildevice_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tenant_issuetype; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.tenant_issuetype (
    id bigint NOT NULL,
    name character varying(100) NOT NULL
);


ALTER TABLE public.tenant_issuetype OWNER TO myuser;

--
-- Name: tenant_issuetype_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.tenant_issuetype ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tenant_issuetype_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tenant_location; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.tenant_location (
    id bigint NOT NULL,
    name character varying(100) NOT NULL
);


ALTER TABLE public.tenant_location OWNER TO myuser;

--
-- Name: tenant_location_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.tenant_location ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tenant_location_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tenant_maintenancerequest; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.tenant_maintenancerequest (
    id bigint NOT NULL,
    description text NOT NULL,
    requested_at timestamp with time zone NOT NULL,
    tenant_id integer,
    status character varying(20) NOT NULL
);


ALTER TABLE public.tenant_maintenancerequest OWNER TO myuser;

--
-- Name: tenant_maintenancerequest_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.tenant_maintenancerequest ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tenant_maintenancerequest_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tenant_maintenancerequest_issues; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.tenant_maintenancerequest_issues (
    id bigint NOT NULL,
    maintenancerequest_id bigint NOT NULL,
    issuetype_id bigint NOT NULL
);


ALTER TABLE public.tenant_maintenancerequest_issues OWNER TO myuser;

--
-- Name: tenant_maintenancerequest_issues_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.tenant_maintenancerequest_issues ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tenant_maintenancerequest_issues_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tenant_maintenancerequest_locations; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.tenant_maintenancerequest_locations (
    id bigint NOT NULL,
    maintenancerequest_id bigint NOT NULL,
    location_id bigint NOT NULL
);


ALTER TABLE public.tenant_maintenancerequest_locations OWNER TO myuser;

--
-- Name: tenant_maintenancerequest_locations_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.tenant_maintenancerequest_locations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tenant_maintenancerequest_locations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tenant_userprofile; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.tenant_userprofile (
    id bigint NOT NULL,
    first_name character varying(100),
    middle_name character varying(100),
    last_name character varying(100),
    birthday date,
    gender character varying(1),
    phone_no character varying(20),
    address text,
    email character varying(254),
    guardian_name character varying(200),
    guardian_phone_no character varying(20),
    guardian_address text,
    guardian_email character varying,
    user_id integer NOT NULL
);


ALTER TABLE public.tenant_userprofile OWNER TO myuser;

--
-- Name: tenant_userprofile_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.tenant_userprofile ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tenant_userprofile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: myuser
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
1	pbkdf2_sha256$870000$BjAlUe6WJVMx8yZWSzyMSc$1VbDI1Dmk+7yBSVL698w4dRFdPZfth1Xi63GZO28zpE=	2025-04-28 12:33:47.064542+00	t	janredquierra			janredquierra11@gmail.com	t	t	2025-04-09 07:50:29.772041+00
12	pbkdf2_sha256$870000$oltBBTWTncjN56KU0m1zjF$a6J/gzCalECiFtvIbwSJJ1FMCSwpgHerEnrzaun99d0=	2025-04-28 12:50:47.232242+00	f	jrq11	jan red	quierra	janredquierra115@gmail.com	f	t	2025-04-21 17:26:01.212596+00
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: dashboard_chatmessage; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.dashboard_chatmessage (id, message, "timestamp", receiver_id, sender_id, is_read) FROM stdin;
19	Hello	2025-04-21 17:43:38.929025+00	12	1	t
20	Hii	2025-04-21 17:44:58.234472+00	1	12	t
21	Antok na ako bai	2025-04-21 17:46:43.68154+00	12	1	t
22	Ahhh	2025-04-21 17:47:31.503678+00	12	1	t
23	sadad	2025-04-21 17:49:27.379461+00	12	1	t
24	Asarr	2025-04-21 17:50:52.141451+00	12	1	t
25	Asar ka perd?	2025-04-21 17:51:54.706121+00	12	1	t
26	Gago ka doc	2025-04-21 17:52:17.268069+00	1	12	t
27	Ulol	2025-04-21 17:54:30.87735+00	12	1	t
\.


--
-- Data for Name: dashboard_payment; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.dashboard_payment (id, amount, date, status, reference_number, tenant_id, user_id) FROM stdin;
40	2500.00	2025-04-22	Paid	PAY-2025-RWVNN5	19	1
41	2500.00	2025-04-22	overdue	PAY-2025-A0GQCF	19	1
42	2500.00	2025-04-15	overdue	PAY-2025-F5BCH2	19	1
43	2500.00	2025-04-23	Paid	PAY-2025-CHW1ST	19	1
44	2500.00	2025-04-22	Paid	PAY-2025-1BKZQG	19	12
47	2500.00	2025-04-28	Paid	PAY-2025-CJ7GZT	19	1
\.


--
-- Data for Name: dashboard_room; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.dashboard_room (id, room_number, room_type, capacity, description, availability) FROM stdin;
5	202	Single	1		Vacant
3	203	Single	1		Vacant
1	201	Single	1		Occupied
4	204	Single	1		Vacant
\.


--
-- Data for Name: dashboard_tenant; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.dashboard_tenant (id, room_number_id, amount, lease_start, end_date, emergency_contact, full_name, user_id) FROM stdin;
19	1	17500.00	2025-04-22	2025-11-22	09859526042	jan red quierra	12
\.


--
-- Data for Name: dashboard_uploadedimage; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.dashboard_uploadedimage (id, image, uploaded_at) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: myuser
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	dashboard	uploadedimage
8	dashboard	room
9	dashboard	tenant
10	dashboard	chatmessage
11	loginauth	userprofile
12	tenant	location
13	tenant	issuetype
14	tenant	maintenancerequest
15	dashboard	payment
16	tenant	userprofile
17	otp_email	emaildevice
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: myuser
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
\.


--
-- Data for Name: loginauth_userprofile; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.loginauth_userprofile (id, terms_accepted, date_accepted, user_id) FROM stdin;
10	t	2025-04-21 17:26:01.697064+00	12
\.


--
-- Data for Name: otp_email_emaildevice; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.otp_email_emaildevice (id, name, confirmed, user_id, token, valid_until, email, throttling_failure_count, throttling_failure_timestamp, last_generated_timestamp, created_at, last_used_at) FROM stdin;
2		t	1	\N	2025-04-28 12:33:47.058417+00	\N	0	\N	\N	2025-04-21 16:35:57.99665+00	2025-04-28 12:33:47.064542+00
3		t	12	\N	2025-04-28 12:50:47.229013+00	\N	0	\N	\N	2025-04-21 17:26:03.611488+00	2025-04-28 12:50:47.23075+00
\.


--
-- Data for Name: tenant_issuetype; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.tenant_issuetype (id, name) FROM stdin;
1	Electrical System
2	Running Water
3	Functioning Locks
\.


--
-- Data for Name: tenant_location; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.tenant_location (id, name) FROM stdin;
1	Bedroom
2	Washroom
3	Kitchen
\.


--
-- Data for Name: tenant_maintenancerequest; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.tenant_maintenancerequest (id, description, requested_at, tenant_id, status) FROM stdin;
6	None	2025-04-21 17:35:22.126192+00	12	pending
7	None	2025-04-22 05:24:27.727168+00	12	fixed
8	None	2025-04-22 05:41:09.339789+00	12	pending
10	None	2025-04-28 06:56:59.670994+00	12	pending
11	None	2025-04-28 12:26:11.140465+00	12	pending
12	None	2025-04-28 12:30:03.45293+00	12	pending
13	None	2025-04-28 12:51:22.559662+00	12	pending
\.


--
-- Data for Name: tenant_maintenancerequest_issues; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.tenant_maintenancerequest_issues (id, maintenancerequest_id, issuetype_id) FROM stdin;
6	6	1
7	7	3
8	8	1
10	10	1
11	11	2
12	12	2
13	13	1
\.


--
-- Data for Name: tenant_maintenancerequest_locations; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.tenant_maintenancerequest_locations (id, maintenancerequest_id, location_id) FROM stdin;
6	6	1
7	7	2
8	8	1
10	10	1
11	11	3
12	12	3
13	13	1
\.


--
-- Data for Name: tenant_userprofile; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.tenant_userprofile (id, first_name, middle_name, last_name, birthday, gender, phone_no, address, email, guardian_name, guardian_phone_no, guardian_address, guardian_email, user_id) FROM stdin;
6	jan red	\N	quierra	\N	\N	\N		janredquierra115@gmail.com	\N	\N			12
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 68, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 15, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: dashboard_chatmessage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.dashboard_chatmessage_id_seq', 28, true);


--
-- Name: dashboard_payment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.dashboard_payment_id_seq', 47, true);


--
-- Name: dashboard_room_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.dashboard_room_id_seq', 5, true);


--
-- Name: dashboard_tenant_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.dashboard_tenant_id_seq', 22, true);


--
-- Name: dashboard_uploadedimage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.dashboard_uploadedimage_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 23, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 17, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 59, true);


--
-- Name: loginauth_userprofile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.loginauth_userprofile_id_seq', 13, true);


--
-- Name: otp_email_emaildevice_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.otp_email_emaildevice_id_seq', 6, true);


--
-- Name: tenant_issuetype_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.tenant_issuetype_id_seq', 3, true);


--
-- Name: tenant_location_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.tenant_location_id_seq', 3, true);


--
-- Name: tenant_maintenancerequest_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.tenant_maintenancerequest_id_seq', 13, true);


--
-- Name: tenant_maintenancerequest_issues_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.tenant_maintenancerequest_issues_id_seq', 13, true);


--
-- Name: tenant_maintenancerequest_locations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.tenant_maintenancerequest_locations_id_seq', 13, true);


--
-- Name: tenant_userprofile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.tenant_userprofile_id_seq', 9, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: dashboard_chatmessage dashboard_chatmessage_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.dashboard_chatmessage
    ADD CONSTRAINT dashboard_chatmessage_pkey PRIMARY KEY (id);


--
-- Name: dashboard_payment dashboard_payment_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.dashboard_payment
    ADD CONSTRAINT dashboard_payment_pkey PRIMARY KEY (id);


--
-- Name: dashboard_payment dashboard_payment_reference_number_key; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.dashboard_payment
    ADD CONSTRAINT dashboard_payment_reference_number_key UNIQUE (reference_number);


--
-- Name: dashboard_room dashboard_room_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.dashboard_room
    ADD CONSTRAINT dashboard_room_pkey PRIMARY KEY (id);


--
-- Name: dashboard_room dashboard_room_room_number_key; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.dashboard_room
    ADD CONSTRAINT dashboard_room_room_number_key UNIQUE (room_number);


--
-- Name: dashboard_tenant dashboard_tenant_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.dashboard_tenant
    ADD CONSTRAINT dashboard_tenant_pkey PRIMARY KEY (id);


--
-- Name: dashboard_uploadedimage dashboard_uploadedimage_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.dashboard_uploadedimage
    ADD CONSTRAINT dashboard_uploadedimage_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: loginauth_userprofile loginauth_userprofile_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.loginauth_userprofile
    ADD CONSTRAINT loginauth_userprofile_pkey PRIMARY KEY (id);


--
-- Name: loginauth_userprofile loginauth_userprofile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.loginauth_userprofile
    ADD CONSTRAINT loginauth_userprofile_user_id_key UNIQUE (user_id);


--
-- Name: otp_email_emaildevice otp_email_emaildevice_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.otp_email_emaildevice
    ADD CONSTRAINT otp_email_emaildevice_pkey PRIMARY KEY (id);


--
-- Name: tenant_issuetype tenant_issuetype_name_key; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.tenant_issuetype
    ADD CONSTRAINT tenant_issuetype_name_key UNIQUE (name);


--
-- Name: tenant_issuetype tenant_issuetype_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.tenant_issuetype
    ADD CONSTRAINT tenant_issuetype_pkey PRIMARY KEY (id);


--
-- Name: tenant_location tenant_location_name_key; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.tenant_location
    ADD CONSTRAINT tenant_location_name_key UNIQUE (name);


--
-- Name: tenant_location tenant_location_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.tenant_location
    ADD CONSTRAINT tenant_location_pkey PRIMARY KEY (id);


--
-- Name: tenant_maintenancerequest_issues tenant_maintenancereques_maintenancerequest_id_is_61a4b8e3_uniq; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.tenant_maintenancerequest_issues
    ADD CONSTRAINT tenant_maintenancereques_maintenancerequest_id_is_61a4b8e3_uniq UNIQUE (maintenancerequest_id, issuetype_id);


--
-- Name: tenant_maintenancerequest_locations tenant_maintenancereques_maintenancerequest_id_lo_aa126c3e_uniq; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.tenant_maintenancerequest_locations
    ADD CONSTRAINT tenant_maintenancereques_maintenancerequest_id_lo_aa126c3e_uniq UNIQUE (maintenancerequest_id, location_id);


--
-- Name: tenant_maintenancerequest_issues tenant_maintenancerequest_issues_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.tenant_maintenancerequest_issues
    ADD CONSTRAINT tenant_maintenancerequest_issues_pkey PRIMARY KEY (id);


--
-- Name: tenant_maintenancerequest_locations tenant_maintenancerequest_locations_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.tenant_maintenancerequest_locations
    ADD CONSTRAINT tenant_maintenancerequest_locations_pkey PRIMARY KEY (id);


--
-- Name: tenant_maintenancerequest tenant_maintenancerequest_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.tenant_maintenancerequest
    ADD CONSTRAINT tenant_maintenancerequest_pkey PRIMARY KEY (id);


--
-- Name: tenant_userprofile tenant_userprofile_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.tenant_userprofile
    ADD CONSTRAINT tenant_userprofile_pkey PRIMARY KEY (id);


--
-- Name: tenant_userprofile tenant_userprofile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.tenant_userprofile
    ADD CONSTRAINT tenant_userprofile_user_id_key UNIQUE (user_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: dashboard_chatmessage_receiver_id_719f0dad; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX dashboard_chatmessage_receiver_id_719f0dad ON public.dashboard_chatmessage USING btree (receiver_id);


--
-- Name: dashboard_chatmessage_sender_id_d95cf88e; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX dashboard_chatmessage_sender_id_d95cf88e ON public.dashboard_chatmessage USING btree (sender_id);


--
-- Name: dashboard_payment_reference_number_34348c03_like; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX dashboard_payment_reference_number_34348c03_like ON public.dashboard_payment USING btree (reference_number varchar_pattern_ops);


--
-- Name: dashboard_payment_tenant_id_933091f7; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX dashboard_payment_tenant_id_933091f7 ON public.dashboard_payment USING btree (tenant_id);


--
-- Name: dashboard_payment_user_id_85a8485e; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX dashboard_payment_user_id_85a8485e ON public.dashboard_payment USING btree (user_id);


--
-- Name: dashboard_tenant_room_number_id_3bf5c82a; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX dashboard_tenant_room_number_id_3bf5c82a ON public.dashboard_tenant USING btree (room_number_id);


--
-- Name: dashboard_tenant_user_id_fe79e1d9; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX dashboard_tenant_user_id_fe79e1d9 ON public.dashboard_tenant USING btree (user_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: otp_email_emaildevice_user_id_0215c274; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX otp_email_emaildevice_user_id_0215c274 ON public.otp_email_emaildevice USING btree (user_id);


--
-- Name: tenant_issuetype_name_1f2ec982_like; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX tenant_issuetype_name_1f2ec982_like ON public.tenant_issuetype USING btree (name varchar_pattern_ops);


--
-- Name: tenant_location_name_316e6a7a_like; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX tenant_location_name_316e6a7a_like ON public.tenant_location USING btree (name varchar_pattern_ops);


--
-- Name: tenant_maintenancerequest__maintenancerequest_id_56b3988c; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX tenant_maintenancerequest__maintenancerequest_id_56b3988c ON public.tenant_maintenancerequest_locations USING btree (maintenancerequest_id);


--
-- Name: tenant_maintenancerequest_issues_issuetype_id_952a7abd; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX tenant_maintenancerequest_issues_issuetype_id_952a7abd ON public.tenant_maintenancerequest_issues USING btree (issuetype_id);


--
-- Name: tenant_maintenancerequest_issues_maintenancerequest_id_2242e981; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX tenant_maintenancerequest_issues_maintenancerequest_id_2242e981 ON public.tenant_maintenancerequest_issues USING btree (maintenancerequest_id);


--
-- Name: tenant_maintenancerequest_locations_location_id_0549adbe; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX tenant_maintenancerequest_locations_location_id_0549adbe ON public.tenant_maintenancerequest_locations USING btree (location_id);


--
-- Name: tenant_maintenancerequest_tenant_id_8af56b57; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX tenant_maintenancerequest_tenant_id_8af56b57 ON public.tenant_maintenancerequest USING btree (tenant_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: dashboard_chatmessage dashboard_chatmessage_receiver_id_719f0dad_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.dashboard_chatmessage
    ADD CONSTRAINT dashboard_chatmessage_receiver_id_719f0dad_fk_auth_user_id FOREIGN KEY (receiver_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: dashboard_chatmessage dashboard_chatmessage_sender_id_d95cf88e_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.dashboard_chatmessage
    ADD CONSTRAINT dashboard_chatmessage_sender_id_d95cf88e_fk_auth_user_id FOREIGN KEY (sender_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: dashboard_payment dashboard_payment_tenant_id_933091f7_fk_dashboard_tenant_id; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.dashboard_payment
    ADD CONSTRAINT dashboard_payment_tenant_id_933091f7_fk_dashboard_tenant_id FOREIGN KEY (tenant_id) REFERENCES public.dashboard_tenant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: dashboard_payment dashboard_payment_user_id_85a8485e_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.dashboard_payment
    ADD CONSTRAINT dashboard_payment_user_id_85a8485e_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: dashboard_tenant dashboard_tenant_room_number_id_3bf5c82a_fk_dashboard_room_id; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.dashboard_tenant
    ADD CONSTRAINT dashboard_tenant_room_number_id_3bf5c82a_fk_dashboard_room_id FOREIGN KEY (room_number_id) REFERENCES public.dashboard_room(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: dashboard_tenant dashboard_tenant_user_id_fe79e1d9_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.dashboard_tenant
    ADD CONSTRAINT dashboard_tenant_user_id_fe79e1d9_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: loginauth_userprofile loginauth_userprofile_user_id_63fe3aee_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.loginauth_userprofile
    ADD CONSTRAINT loginauth_userprofile_user_id_63fe3aee_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: otp_email_emaildevice otp_email_emaildevice_user_id_0215c274_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.otp_email_emaildevice
    ADD CONSTRAINT otp_email_emaildevice_user_id_0215c274_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tenant_maintenancerequest_issues tenant_maintenancere_issuetype_id_952a7abd_fk_tenant_is; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.tenant_maintenancerequest_issues
    ADD CONSTRAINT tenant_maintenancere_issuetype_id_952a7abd_fk_tenant_is FOREIGN KEY (issuetype_id) REFERENCES public.tenant_issuetype(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tenant_maintenancerequest_locations tenant_maintenancere_location_id_0549adbe_fk_tenant_lo; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.tenant_maintenancerequest_locations
    ADD CONSTRAINT tenant_maintenancere_location_id_0549adbe_fk_tenant_lo FOREIGN KEY (location_id) REFERENCES public.tenant_location(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tenant_maintenancerequest_issues tenant_maintenancere_maintenancerequest_i_2242e981_fk_tenant_ma; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.tenant_maintenancerequest_issues
    ADD CONSTRAINT tenant_maintenancere_maintenancerequest_i_2242e981_fk_tenant_ma FOREIGN KEY (maintenancerequest_id) REFERENCES public.tenant_maintenancerequest(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tenant_maintenancerequest_locations tenant_maintenancere_maintenancerequest_i_56b3988c_fk_tenant_ma; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.tenant_maintenancerequest_locations
    ADD CONSTRAINT tenant_maintenancere_maintenancerequest_i_56b3988c_fk_tenant_ma FOREIGN KEY (maintenancerequest_id) REFERENCES public.tenant_maintenancerequest(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tenant_maintenancerequest tenant_maintenancerequest_tenant_id_8af56b57_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.tenant_maintenancerequest
    ADD CONSTRAINT tenant_maintenancerequest_tenant_id_8af56b57_fk_auth_user_id FOREIGN KEY (tenant_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tenant_userprofile tenant_userprofile_user_id_3031c556_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.tenant_userprofile
    ADD CONSTRAINT tenant_userprofile_user_id_3031c556_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT ALL ON SCHEMA public TO myuser;


--
-- PostgreSQL database dump complete
--

